.list {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 48vh);
	grid-auto-flow: row;
	gap: 2vh 2vw;
}

@media screen and (max-width: 760px) {
    .list{
		grid-template-rows: repeat(2, 55vh);
    }
}