.list {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 50vh);
	grid-auto-flow: row;
	gap: 2vh 2vw;
}