:root {
    --primary: #fff;
    --accent: #504842;
    --tint: #AB3541;
    --background: #B4C277;
    --text-background: #F9FBE9;
}

.productitem {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	/* border: 1px solid lightblue; */
	border-radius: 20px;
	padding: 20px;
	background-color: var(--accent);
}

.productitem:nth-child(odd) {
	margin-left: 1vw;
}

.productitem:nth-child(even) {
	margin-right: 1vw;
}

.img img {
	width: 100%;
	background: lightgray;
	height: 23vh;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 20px;
}

.title {
	font-size: 1em;
	font-weight: 700;
}

.price >span{
	font-size: 0.8em;
}

.description {
	font-size: 0.8em;
}


/* КНОПКИ */

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	margin: 2vh 0;
	font-size: .9em;
}

.card__badge {
	width: 8vw;
	height: 6vh;
	background-color: var(--text-background);
	border: 1px solid var(--accent);
	border-radius: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .9em;
	color: var(--accent);
}

.add-btn {
	width: 100%;
}

.btn {
	margin-left: 0;
	width: 8vw;
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: .9em;
	font-size: .9em;
	color: var(--primary);
}
