:root {
    --primary: #fff;
    --accent: #504842;
    --tint: #AB3541;
    --background: #B4C277;
    --text-background: #F9FBE9;
}

.productitem {
	display: flex;
	flex-direction: column;
	gap: 3vh;
	/* border: 1px solid lightblue; */
	border-radius: 20px;
	padding: 10px 20px;
	background-color: var(--background);
}

.img img {
	width: 100%;
	background: lightgray;
	height: 20vh;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 20px;
}

.title {
	font-size: 1em;
	font-weight: 700;
}

.price >span{
	font-size: 0.8em;
}

.description {
	font-size: 0.8em;
}


/* КНОПКИ */

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

.card__badge {
	width: 4vw;
	height: 6vh;
	background-color: var(--text-background);
	border: 1px solid var(--accent);
	border-radius: 8px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-btn {
	width: 100%;
}

.btn {
	margin-left: 0;
	width: 6vw;
	height: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
