
.productitem {
	display: flex;
	flex-direction: column;
	gap: 1vh;
	border-radius: 20px;
	padding: 20px;
	background-color: var(--accent);
}

.productitem:nth-child(odd) {
	margin-left: 2vw;
}

.productitem:nth-child(even) {
	margin-right: 2vw;
}

.img img {
	width: 100%;
	background: lightgray;
	height: 22vh;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 20px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	color: var(--primary);
	margin-top: 2vh;
}

.price >span{
	font-size: 16px;
	font-weight: 700;
	color: var(--orange-accent);
}

.description {
	min-height: 78px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2em;
}


/* КНОПКИ */

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2vh 0 2vh;
	font-size: .9em;
}

.card__badge, .card__badge--hidden {
	width: 40px;
	height: 40px;
	background-color: var(--text-background);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .9em;
	color: var(--accent);
}

.add-btn {
	width: 100%;
}

.btn {
	margin-left: 0;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: .9em;
	border-radius: none;
}
