
:root {
  --primary: #fff;
  --accent: #504842;
  --tint: #AB3541;
  --background: #B4C277;
  --text-background: #F9FBE9;
}

/*CUSTOM STYLES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: .8em;
}

body {
  /* background: var(--tg-theme-bg-color); */
  background-color: var(--background);
  color: var(--primary);  /* color: var(--tg-theme-text-color); */
  font-family: "Raleway", sans-serif;
}